html {
	height: 100%;
}

.pic {
    text-align: center; 
}

* {
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: 6px;
}

body {
	font: 14px Verdana,Tahoma,Arial,sans-serif;
	/* background: #808080;*/
	background-image: url(обои.jpg);
    background-position: center;
    background-repeat: repeat-y;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
	padding: 33px 30px 20px 40px;
}

#toplinks {
	float: right;
	position: relative;
	font-size: .8em;
	font-weight: 600;
	letter-spacing: .1em;
	text-transform: uppercase;
}

#toplinks a {
	color: #FFFFFF;
}

#title {
	margin-bottom: 8px;
}

#title h1, #title h1 a {
	color: #FFFFFF;
	text-decoration: none;
	letter-spacing: .16em;
	font-size: 1.7em;
}

#title h2 {
	color: #FFFFFF;
}

#menu {
	background: #D3D3D3;
	height: 50px;
	border-bottom: 3px solid #FFFFFF;
}

#menu ul {
	float: left;
	padding-top: 12.5px;
	padding-left: 10px;
	height: 50px;
}

#menu li {
	display: inline-block;
}

#menu li a {
	line-height: 30px;
	height: 50px;
	text-decoration: none;
}

#menu li a:hover, #menu li a.selected {
	color: #778899;
}

#menu li a span {
	color: #FFFFFF;
	font-size: 1.1em;
	height: 40px;
	padding-right: 14px;
}

#menu li a:hover span, #menu li a.selected span {
	color: #778899;
}

.dropdown {
    position: absolute;
    display: inline-block;
	z-index: 2;
}
.dropdown-child {
    display: none;
    background-color: #808080;
    min-width: 200px;
	z-index: 2;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
	z-index: 2;
}
.dropdown:hover .dropdown-child {
    display: block;
	z-index: 2;
}

#content {
	background: #C0C0C0;
	display: block;
	padding: 20px 30px 20px 30px;
	color: #000000;
}

#content h2, #content h3 {
	color: #FFFFFF;
}

#main {
	float: left;
	margin-bottom: 100px;
	height: 200px; /* высота подложки */
}

#main textarea, #main input {
	overflow: auto;
	width: 200px;
}

#dop {
	display: block;
	background: #DCDCDC;
	padding: 10px 20px 10px 20px;
	height: 200px; /* высота подложки */
	border-top: 3px solid #FFFFFF;
}

#footer {
	height: 118px;	
	/*padding-left: 50px;*/
}

#footer p {
	color: #FFFFFF;
	padding-top: 50px;
	text-align: center;
}

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
	margin-bottom: 26px;
	z-index: 1;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
	z-index: 1;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
	z-index: 1;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
	z-index: 1;
}

.carousel-item img {
    display: block;
    height: 500px;
    max-width: 100%;
	z-index: 1;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 1;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 1px;
}

.carousel-bullet {
    color: #D3D3D3;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #778899;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #778899;
}

